Repository one-kind/carbon-vue, changes with the labels that .github/labeler.yaml gives for each.
All labels: components, directives, documentation, github, mixins, styles, repo, test

ci(release): setup a .releaserc file
  .github/workflows/release.yaml
  .releaserc
  package.json
Labels: repo

fix(ci): fix cache path missing from CI jobs
  .github/workflows/quality.yaml
  .github/workflows/release.yaml
Labels: none

fix(release): move release config inside github action
  .github/workflows/release.yaml
  .releaserc
Labels: repo

fix(release): move release config to package.json
  .github/workflows/release.yaml
  package.json
Labels: repo

fix(release): drop semantic release action for npx instead
  .github/workflows/release.yaml
Labels: none

fix(release): use different token for release
  .github/workflows/release.yaml
Labels: none

Notes added by 'git notes add'
  25ba055ed9b173ad15adeacdb3f7bc9207172bbe
Labels: repo

fix(release): make package public to npm doesn't reject it
  package.json
Labels: repo

Notes added by 'git notes add'
  4378715b6a8cd8a022cfc0e3c14b553f78b503b1
Labels: repo

ci: fix storybook deployment
  .github/workflows/release.yaml
  .releaserc
  package.json
Labels: repo

fix(storybook): add missing storybook deployer
  package.json
  yarn.lock
Labels: repo

Notes added by 'git notes add'
  e9a58b312ebea3c9abcece5a38f513f70b3de309
Labels: repo

ci(storybook): prevent storybook from being released from another branch than `main`
  .github/workflows/release.yaml
  package.json
  yarn.lock
Labels: repo

chore(npmignore): add more files to .npmignore
  .npmignore
Labels: repo

Notes added by 'git notes add'
  2f543c24bbfbaeef3450373070a1a1fea273a776
Labels: repo

chore: change `main` branch to `master`
  .github/workflows/release.yaml
  .releaserc
  package.json
Labels: repo

chore(package manager): change npm to yarn
  README.md
  package.json
Labels: documentation, repo

ci(storybook): change how storybook is deployed
  .github/workflows/release.yaml
  package.json
  yarn.lock
Labels: repo

docs(readme.md): add link to github pages
  README.md
Labels: documentation, repo

chore(github pages): move storybook from master to gh-pages branch
  .github/workflows/release.yaml
  README.md
  package.json
Labels: documentation, repo

.github/labeler.yaml:

components:
  - 'src/components/*'

directives:
  - 'src/directives/*'

documentation:
  - 'src/**/*.stories.*'
  - ./**/*.md

github: .github/*

mixins:
  - 'src/mixins/*'

styles:
  - 'src/styles/*'

repo:
  - ./*

test:
  - 'src/**/*.{spec,test}.js'
